.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../fundo.jpg'); /* Caminho da imagem na pasta public */
    background-size: cover;
    background-position: center;
  }
  
  .login-overlay {
    background: rgba(0, 0, 0, 0.6); /* Overlay escuro para melhorar a legibilidade */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background: rgba(255, 255, 255, 0.8); /* Fundo branco com 80% de opacidade */
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .logo {
    width: 100px;
    margin-bottom: 16px;
  }
  
  .welcome-message {
    color: #333;
    font-size: 16px;
    margin-bottom: 24px;
  }